<!DOCTYPE HTML>
<html>
    <head>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
                padding: 5px;
            }
        </style>
    </head>
    <body>
        <!--<pre>{{ rusers|tojson }}</pre>-->
        <table>
        <tr>
            <th>id</th>
            <th>username</th>
            <th>first_name</th>
            <th>last_name</th>
            <th>email</th>
            <th>org_id</th>
            <th>account_number</th>
            <th>permissions</th>
            <th>entitlements</th>
        </tr>
        {% for ruser in rusers %}
            <tr>
                <td>{{ ruser.id }}</td>
                <td>{{ ruser.username }}</td>
                <td>{{ ruser.first_name }}</td>
                <td>{{ ruser.last_name }}</td>
                <td>{{ ruser.email }}</td>
                <td>{{ ruser.org_id }}</td>
                <td>{{ ruser.account_number }}</td>
                <td>{{ ruser.permissions }}</td>
                <td>{{ ruser.entitlements }} </td>
            <tr>
        {% endfor %}
        </table>
        <br>
        <a href='{{ redirect_url }}'>add user</a>
    </body>
</html>
